@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>
<h2>Bet Expert</h2>
<h4>Need a sport prediction? We have one.</h4>
