@page
@model BetExpertWeb.Pages.MatchesModel
@{
    ViewData["Title"] = "Matches";
}
<head>
    <link rel="stylesheet" href="~/css/sports.css" asp-append-version="true" />
</head>
<body>
    @if (Model.Matches.Count == 0)
    {
        <div class="error-message">
            There are no matches for now!
        </div>
    }
    else
    {
        <h2>Available matches</h2>
        <div class="matches">
            @foreach (var match in Model.Matches)
            {
                @if (match.StartTime > DateTime.Now)
                {
                    <form method="get" action="Predictions">
                        <input type="hidden" name="matchId" value=@match.GetId() />
                        <button type="submit" value="@match.GetId()">@match.FirstCompetitor Vs @match.SecondCompetitor</button>
                    </form>
                }
            }
        </div>
    }
</body>
