.prediction-list {
    list-style-type: none;
    padding: 0;
}

    .prediction-list li {
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

.prediction-creator {
    font-weight: bold;
}

.prediction-success {
    margin-top: 5px;
    color: green;
}

.prediction-analysis {
    margin-top: 10px;
}

.prediction-final {
    margin-top: 10px;
    font-weight: bold;
}
