/* Custom CSS for BetExpertWeb */
.navBar {
    margin-bottom: 20px;
}

/* Navbar */
.navbar {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    max-height: 80px; /* Adjust the height as per your preference */
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-nav {
    flex-grow: 1;
}

.nav-item {
    margin-right: 10px;
}

.nav-link {
    color: #000 !important;
}

    .nav-link:hover {
        color: #333 !important;
    }

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.pb-3 {
    padding-bottom: 3rem !important;
}
